* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Faixa azul no topo */
header {
    width: 100%;
    height: 100px;
    background-color: #1809f2; /* Azul */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    height: 100%;
    padding-top: 60px; /* Ajustar para não sobrepor o header */
}

/* Faixa azul à esquerda */
.sidebar {
    width: 100px;
    background-color: #1809f2; /* Azul */
    position: fixed;
    top: 100px; /* Abaixo do header */
    left: 0;
    height: calc(100% - 60px); /* Altura total menos o header */
}

/* Área principal da página */
.main-content {
    margin-left: 60px; /* Espaço para a barra lateral */
    display: flex;
    width: 100%;
    padding: 200px;
}

.courses {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 2px solid #ccc;
}

.courses h2 {
    margin-bottom: 150px;
}

/* Estilo dos botões de curso */
#courseList button {
    width: 100%;
    padding: 10px;
    margin-bottom: 100px;
    background-color: #1809f2; /* Azul */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

#courseList button:hover {
    background-color: #020202; /* Azul escuro ao passar o mouse */
}

.students {
    width: 70%;
    padding: 20px;
}

.students h2 {
    margin-bottom: 15px;
}

.progress-bar {
    height: 20px;
    background-color: #1809f2;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
}
